{% load static %}
<html>
<head>
    <title>Razvan Ratoi - Student</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/cv.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">

</head>

<body>
<div class="content container">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}


        </div>
    </div>
</div>


<nav id="navbar" role="navigation">
    <div class="navbar-left">
        <ul>
            <li>Razvan Ratoi - Student</li>
        </ul>
    </div>

    <div class="navbar-right">
        <ul>
            <li><a href="{% url 'cv' %}">CV</a></li>
            <li><a href=" {% url 'post_list' %}">Blog</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>


<div class="page-footer">

    <div class="footer-left">
        <ul>
            <li>EMAIL: rxr1000@student.bham.ac.uk</li>
        </ul>
    </div>

    <div class="footer-right">
        <ul>
            <li><a href="https://www.facebook.com/razvan.ratoi" class="fa fa-facebook" target="_blank"></a></li>
            <li><a href="https://twitter.com/RatoiRazvan" class="fa fa-twitter" target="_blank"></a></li>
            <li><a href="https://www.instagram.com/ratoiman/" class="fa fa-instagram" target="_blank"></a></li>
        </ul>
    </div>

</div>
</body>
</html>
