{% extends 'blog/base.html' %}

{% block content %}


    <div class="page-header">
        <h1>Curriculum Vitae</h1>
    </div>

    <div class="cv_title">
        Profile/Background
    </div>

    <div class="text">

        <p> I am a 1st year student at University of Birmingham,

            studying Computer Science with Digital Apprenticeship.
        </p>

        <p>I studied Mathematics and Computer Science in one

            of the most prestigious high schools in Romania.

            During my 4 years of high school I got introduced

            into programming in C++, using sorting algorithms

            and mainly solving mathematical problems. I have

            also studied HTML and Web Design with some CSS

            elements as well.
        </p>
    </div>

    <div class="cv_title">
        Education
    </div>

    <div class="text">
        <p><a href="https://www.cnvranceanu.ro/" target="_blank"> "Gheorghe Vranceanu" National College Bacau</a> &rArr;
            2015 - 2019</p>

        <p><a href="https://www.birmingham.ac.uk/index.aspx" target="_blank">Computer Science with Digital
            Apprenticeship, at University of Birmingham</a>&rArr; 2020 - present </p>
    </div>

    <div class="cv_title">
        Projects
    </div>

    <div class="text">
        <h2><u>Erasmus+ Project &rArr; may 2017</u> </h2>
        <p>

            In year 10 I was part of an Erasmus+ project in

            Cyprus, focused on Wed Design, where for 3 weeks

            we got to experience how it is to work in a company.

            During those 3 weeks not only did I enhance my Wed

            Designing skills, I have also got familiarized with

            Adobe Illustrator, Camtasia Studio, Adobe Premiere

            Pro, I have also used and practiced my Photoshop

            Skills. </p>

        <h2><u>Ingenious Drama Festival &rArr; 2015 - 2020</u></h2>
        <p> Since 2015 I have been an active member of Ingenious Drama Festival, a festival
            aimed at teenagers that want to discover themselves through theater.
        </p>
        <p>During the 5 editions that I have been a part of, I was chief of marketing, being responsible
            for a team of 10 volunteers, I helped build and manage a new website and took care of many logistical
            aspects such as trainers, accommodation for over 200 people, theatre shows, stand-up shows and many
            other.</p>
        <p>As chief of marketing, toghether with my team, we raised our social media profiles to thousands of followers.
            Our <a href="https://www.facebook.com/idfest" target="_blank"> <u>Facebook</u></a> page has over 11000 likes
            and our <a
                    href="https://www.instagram.com/idfest/" target="_blank"><u>Instagram</u></a> just hit 3000
            followers
        </p>


    </div>


    <div class="cv_title">
        Key skills
    </div>

    <div class="text">
        <ul>
            <li>I have experienced with programming in C++ during high school</li>
            <li>Programming in Java during first year of University</li>
            <li>HTML5 Web Design as well as CSS element</li>
            <li>Good knowledge of the Django Framework</li>
            <li>Experimented with databases in Python, as well as data handling</li>
        </ul>
    </div>


    <div class="cv_title">
        Interests
    </div>

    <div class="text">
        <p> I like keeping up date with the newest gadgets and innovations, from electric cars, self driving vehicles,
            AI, computer hardware and software to automatization of processes. </p>
    </div>

    <div class="cv_title">
    Languages
    </div>

    <div class="text">
    <ul>
        <li>English</li>
        <li>Romanian</li>
    </ul>
    <br>
    <br>

    </div>










{% endblock %}