{% extends 'blog/base.html' %}

{% block content %}


    <div class="page-header">
        <h1> Home </h1>
    </div>



    <div class="tech-slideshow">
        <div class="mover-1"></div>
        <div class="mover-2"></div>
    </div>




    <div class="home_text">


        <p>
            Hello, my name is Razvan, I am a 2nd year Computer Science Technology Apprentice with PwC student at the
            University of Birmingham.


        </p>
        <br>
        <br>

        <p>
            On this site you can find more things about me, read my blog, my CV and you can also find all of my
            contact information, as well as my social media pages.
        </p>
        <br>
        <br>
        <p>
            Feel free to contact me for any queries you might have.
        </p>

    </div>


{% endblock %}