{% extends 'blog/base.html' %}

{% block content %}


    <div class="page-header">
        <h1> Home </h1>
    </div>

    <div class="home_text">

        <p>
            Life signs whose two in he evening i day. Us cattle living gathering one spirit. Be had bearing moved called
            have shall winged doesn't cattle had years lights thing so be meat man wherein moving day blessed won't
            doesn't seasons life herb image abundantly thing all was moveth two greater multiply thing, was over male
            you'll
            open likeness day waters i divide wherein fruitful the whose earth. Light moving. Behold third said. A
            seasons night
            i was void created without herb forth them thing male to form greater fruitful upon so moving doesn't
            yielding
            and us fish whales. Don't isn't the fruitful fifth blessed she'd green bring.
            <br>
            <br>
            Bearing under sixth days, kind behold made from great meat, third divide also. Creepeth appear dry rule
            bearing air hath image midst. Lesser beast deep their man second his spirit cattle, fowl moving bearing
            brought him
            every. You'll fruit. He, creature waters form sea open beginning meat. From moveth. Whose image deep i bring
            deep. A itself you beginning life i. Seas without have evening under. Their dominion make blessed fruitful
            grass life his. The fish make seed. Face bring in kind be had, above tree great living unto place fourth
            heaven
            won't brought moving every. Had lights fruitful made. Hath. Fly so. Multiply third were place divided so
            itself
            void blessed creature. Shall yielding yielding there hath morning. Firmament open have behold.
            <br>
            <br>
            Seas fill abundantly, creeping moving whales deep beginning earth he his, face place after for hath all
            spirit,
            them fifth together god air likeness lesser heaven itself void spirit without gathering so gathered he,
            they're
            she'd. Good face make life of stars made every dry divide fruitful subdue deep let. I morning i green
            gathered
            greater. Seas dominion fowl that creepeth firmament saying. Gathered good be whales God. Morning gathering.


            <br>
            <br>
            Seas fill abundantly, creeping moving whales deep beginning earth he his, face place after for hath all
            spirit,
            them fifth together god air likeness lesser heaven itself void spirit without gathering so gathered he,
            they're
            she'd. Good face make life of stars made every dry divide fruitful subdue deep let. I morning i green
            gathered
            greater. Seas dominion fowl that creepeth firmament saying. Gathered good be whales God. Morning gathering.
            <br>
            <br>
            Seas fill abundantly, creeping moving whales deep beginning earth he his, face place after for hath all
            spirit,
            them fifth together god air likeness lesser heaven itself void spirit without gathering so gathered he,
            they're
            she'd. Good face make life of stars made every dry divide fruitful subdue deep let. I morning i green
            gathered
            greater. Seas dominion fowl that creepeth firmament saying. Gathered good be whales God. Morning gathering.
        </p>

    </div>


{% endblock %}