{% extends 'blog/base.html' %}

{% block content %}


 <nav class="navbar_page_detail" role="navigation">
    <div class="navbar-left_pd">
        <ul>
            <li>Razvan Ratoi - Student</li>
        </ul>
    </div>

    <div class="navbar-right">
        <ul>
            <li><a href="/">Contact</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>
</nav>

    <div class="post">

        <div class="title">
            <h2><a href="/"> {{ post.title }}</a></h2>
        </div>

        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>

            <div class="author">
                <p>Published by: {{ post.author }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
