body {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    background-color: #050002;
    background-image: url("images/asfalt-light.png");
}

.content {
    margin-left: 0px;
    margin-right: 20px;
    width: 99%;
    padding-top: 10px;
    overflow: hidden;
    margin-bottom: 25px;
}

.row {
    width: 100%;
}

.col-md-8 {
    width: 100%;
    margin-top: 1%;

}


.page-header {
    border: 0;
    margin-top: 50px;
    width: 100%;
    text-align: center;
    color: darkgoldenrod;
    font-size: 50pt;

}

h1 {
    color: darkgoldenrod;
    font-size: 50pt;
    text-decoration: none;
    text-align: center;

}


h1 a {
    color: darkgoldenrod;
    font-size: 36pt;
    text-decoration: none;
    text-align: justify;
}


h1 a:hover {
    background: #ddd;
    color: black;
}

h2 a:hover {
    background: #ddd;
    color: black;
}

h2 a {
   margin-top: 30px;
    color: darkgoldenrod;
    font-size: 30pt;
    text-decoration: none;
    text-align: left;
    width: 100%;
}

h2 {
    color: darkgoldenrod;
    font-size: 20pt;
    text-decoration: none;
}


h3 a {
    margin-left: 10px;
    margin-right: 10px;
    color: darkgoldenrod;
    font-size: 30px;
}


