.title {
    text-align: center;
    font-size: 35px;
    color: white;
    padding-bottom: 15px;
}

.date {
    color: #828282;
    padding-bottom: 10px;
}

.author {
    color: #828282;
}

.post {
    margin-bottom: 35px;
    font-size: 20px;
    width: 100%;
    color: white;
    text-align: justify;
}


